@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.product-overview__choose,
.product-overview__size {
  margin-bottom: 20px;

  p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
  }
}

.product-overview__choose-colors {
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .color-option {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    @include m.button-native-reset($transparent-bg: false,
      $appearance-none: true,
      $padding-zero: true);
    @include m.flex-center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    position: relative;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }

    &--1 {
      background-color: #4f4631;
    }

    &--2 {
      background-color: #314f4a;
    }

    &--3 {
      background-color: #31344f;
    }

    &.is-light {
      box-shadow: inset 0 0 0 1px #00000033;

      &.is-active {
        &::after {
          height: 9.5px;
          width: 13px;
          background-color: #000;
        }
      }
    }
  }

  .product-overview__skeleton-circle {
    width: 37px;
    height: 37px;
  }
}

.product-overview__size-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .size-option {
    height: 46px;
    background-color: #f0f0f0;
    @include m.button-native-reset($transparent-bg: false);
    border-radius: v.$radius-pill;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding: 12px 24px;
    @include m.flex-center;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.55;
    }

    &.is-active {
      background-color: #000;
      color: #fff;
    }
  }

  .product-overview__skeleton-size {
    width: 86px;
    height: 46px;
    border-radius: v.$radius-pill;
    flex: 0 0 auto;
  }
}

@media (max-width: 1239px) {

  .product-overview__choose,
  .product-overview__size {
    margin-bottom: 18px;
  }

  .product-overview__size-options {
    gap: 10px;
  }
}

@media (max-width: 992px) {

  .product-overview__choose,
  .product-overview__size {
    margin-bottom: 18px;

    p {
      font-size: 15px;
      margin-bottom: 14px;
    }
  }

  .product-overview__size-options {
    gap: 10px;
    padding-bottom: 20px;

    .size-option {
      height: 42px;
      padding: 11px 22px;
      font-size: 15px;
    }

    .product-overview__skeleton-size {
      height: 42px;
    }
  }
}

@media (max-width: 768px) {

  .product-overview__choose,
  .product-overview__size {

    .size-option,
    p,
    div {
      font-size: 14px;
    }
  }

  .product-overview__size {
    margin-bottom: 25px;
  }

  .product-overview__size-options {
    .size-option {
      max-height: 39px;
      padding: 10px 20px;
    }
  }
}