@use "@/styles/abstracts/mixins" as m;

.tabs {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #0000001a;

  &__tab {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    @include m.button-native-reset;
    padding: 0 0 20px;

    &--active {
      color: #000;
      font-weight: 500;
      border-bottom: 2px solid #000;
    }
  }
}

@media (max-width: 992px) {
  .tabs {
    margin-bottom: 22px;

    &__tab {
      font-size: 18px;
      padding: 0 0 18px;
    }
  }
}

@media (max-width: 768px) {
  .tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 45px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    &__tab {
      flex: 0 0 auto;
      font-size: 16px;
      padding: 12px 0;
      white-space: nowrap;
      border-bottom: 2px solid transparent;
      color: #999;

      &--active {
        color: #000;
        border-color: #000;
      }
    }
  }
}
