.u-flex {
  display: flex;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-align-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-center {
  justify-content: center;
}

.u-gap-8 {
  gap: 8px !important;
}

.u-gap-12 {
  gap: 12px !important;
}

.u-gap-20 {
  gap: 20px !important;
}

.u-mt-25 {
  margin-top: 25px !important;
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mb-24 {
  margin-bottom: 24px !important;
}

.u-mb-28 {
  margin-bottom: 28px !important;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-mb-85 {
  margin-bottom: 85px !important;
}

.u-w-full {
  width: 100%;
}
